@use "global" as *;

.c-btn{
  color: $white;
  background-color: $orange;
  font-size: rem(20);
  text-align: center;
  letter-spacing: rem(3);
  border-radius: rem(8);
  padding: rem(16) rem(64);
  display: inline-block;
}

.l-btn{
  width: 100%;
  text-align: center;
  margin-top: rem(50);
  @include mq("md"){
    margin-top: rem(60);
  }
}

.l-btn--work{
  margin-top: rem(120);
}

.l-btn--about{
  margin-top: rem(70);
  @include mq("md"){
    margin-top: rem(140);
  }
}