@use "global" as *;

.c-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq("md"){
    flex-direction: row;
    align-items: initial;
    justify-content: center;
  }
}

.c-msg__text {
  width: 90%;
  color: $text;
  font-size: rem(16);
  text-align: center;
  padding: rem(55) rem(5);
  border-radius: 27% 73% 40% 60% / 62% 48% 52% 38%  ;
  background-color: $green;
  @include mq("md"){
    width: 60%;
    padding: rem(80) rem(15);
    order: 1;
  }
}
.c-msg__img{
  width: 50%;
  padding-top: 10%;
  @include mq("md"){
    width: 40%;
    padding-top: initial;
  }
}

.c-msg__img img{
  border-radius: 30% 70% 70% 30% / 30% 34% 66% 70%;
  position: relative;
  width: 100%;
  margin-top: rem(-50);
  top: rem(-20);
  left: rem(85);
  @include mq("md"){
    width: 80%;
    margin-top: initial;
    top: rem(90);
    left: rem(100);
  }
}
