@use "global" as *;

.inner {
  width: 100%;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
  @include mq("md") {
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.l-section{
  margin-top: rem(80);
  margin-left: auto;
  margin-right: auto;
  padding: 0 rem(20);
  @include mq("md"){
    margin-top: rem(100);
    max-width: 1000px;
    padding: 0 rem(50);
  }
}