@use "global" as *;

.p-work {
  display: none;
  @include mq("md"){
    display: block;
    margin: rem(80) auto 0;
    width: 50%;
  }
}

.p-work__container{
  margin-top: rem(100);
  position: relative;
}
.p-work__text {
  text-align: center;
  font-size: rem(22);
  color: $text;
  padding-top: rem(30);
}
.p-work__top {
  display: inline-flex;
}

.p-work__bottom {
  display: flex;
}



.p-work__sp {
  margin-top: rem(50);
  @include mq("md"){
    margin-top: initial;
    display: none;
  }
}

.p-work__btn-center {
  position: relative;
  z-index: 1;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.p-work__brock {
  display: grid;
  // justify-content: center;
  // grid-template-columns: 150px 150px 150px;
  // grid-template-rows: 90px 90px 90px;
  position: absolute;
  top: rem(-76);
  left: 0;
  z-index: 2;
}

.p-work__btn-top {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.p-work__btn-left {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.p-work__btn-right {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.p-work__btn-under {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}